/* html {
  min-height: 100%;
  position: relative;
}

body {
	background-color: $bg-lime;
  font-weight: 400;
  font-size: 14px;
} */


.theme-1 {
  background-color: #555d68 !important;
  color: white;
}

.theme-2 {
  background-color: white !important;
  color: #555d68;
}


.theme-3 {
  background-color: blue !important;
  color: red;
}