*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 80%;
    margin: 30px auto;
    background: #cccccc;
    padding: 20px;
}

.accordionItem h3{
    background: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.accordionItem .accordionContent{
    padding: 20px;
    display: none;
}